Repository aditya-sudo/ThinkxLife: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint-fix, typescript-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Essential file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        files: ^(backend/.*\.py|frontend/(app|components|hooks|lib)/.*\.(js|jsx|ts|tsx)|\.pre-commit-config\.yaml|README\.md)$
        exclude: ^(frontend/node_modules/|frontend/\.next/|.*package-lock\.json|.*\.tsbuildinfo)$
      - id: trailing-whitespace
        files: ^(backend/.*\.py|frontend/(app|components|hooks|lib)/.*\.(js|jsx|ts|tsx)|\.pre-commit-config\.yaml|README\.md)$
        exclude: ^(frontend/node_modules/|frontend/\.next/|.*\.tsbuildinfo)$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Python Backend
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^backend/.*\.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/.*\.py$
        args: ['--profile=black']

  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
        files: ^backend/.*\.py$
        args: ['--max-line-length=88', '--extend-ignore=E203']

  # Frontend - Use npm scripts if available
  - repo: local
    hooks:
      - id: frontend-lint-fix
        name: frontend-lint-fix
        entry: bash -c 'cd frontend && npm run lint -- --fix'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        exclude: ^frontend/(node_modules|\.next)/
        pass_filenames: false

      - id: typescript-check
        name: typescript-check
        entry: bash -c 'cd frontend && npx tsc --noEmit --skipLibCheck --project .'
        language: system
        files: ^frontend/(app|components|hooks|lib)/.*\.(ts|tsx)$
        exclude: ^frontend/(node_modules|\.next)/.*$
        pass_filenames: false

# Configuration
default_language_version:
  python: python3
default_stages: [pre-commit]

# Performance optimization
minimum_pre_commit_version: '3.0.0'

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fixing errors
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Update
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/.next/app-build-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/next-font-manifest.js
  frontend/.next/server/next-font-manifest.json
  frontend/.next/server/webpack-runtime.js
  frontend/.next/trace
  frontend/eslint.config.cjs
  frontend/node_modules/.package-lock.json
  frontend/node_modules/@eslint/eslintrc/dist/eslintrc-universal.cjs.map
  frontend/node_modules/@eslint/eslintrc/dist/eslintrc.cjs.map
  frontend/package-lock.json
  frontend/package.json
Due: none

Fix GitHub Actions CI: Add Prisma generation step and fix ESLint configuration
  frontend/.env.local
  frontend/.next/trace
  frontend/tsconfig.tsbuildinfo
Due: none

Update
  .DS_Store
  .github/workflows/ci.yml
  .gitignore
  backend/.DS_Store
  frontend/.DS_Store
  frontend/app/.DS_Store
Due: none

Update for 1.2.x
  .github/workflows/ci.yml
  README.md
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/interception-route-rewrite-manifest.js
  frontend/.next/server/middleware-build-manifest.js
  frontend/.next/server/middleware-react-loadable-manifest.js
  frontend/.next/server/next-font-manifest.js
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/server/webpack-runtime.js
  frontend/.next/trace
  frontend/app/ai-awareness/page.tsx
  frontend/app/articles/ai-ethics-arts/page.tsx
  frontend/app/articles/ai-ethics-education/page.tsx
  frontend/app/articles/ai-ethics-global/page.tsx
  frontend/app/articles/ai-ethics-healthcare/page.tsx
  frontend/app/articles/ai-ethics-social/page.tsx
  frontend/app/awareness/checklists/[id]/page.tsx
  frontend/app/awareness/compliance/page.tsx
  frontend/app/awareness/ethics/page.tsx
  frontend/app/chatbot/page.tsx
  frontend/app/compliance/gdpr-ai/page.tsx
  frontend/components/ace-questionnaire.tsx
  frontend/tsconfig.tsbuildinfo
  scripts/README.md
  scripts/test-ci.sh
Due: frontend-lint-fix, typescript-check

Update for 1.2.x
  backend/logs/conversations.jsonl
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/cache/.rscinfo
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/interception-route-rewrite-manifest.js
  frontend/.next/server/middleware-build-manifest.js
  frontend/.next/server/middleware-react-loadable-manifest.js
  frontend/.next/server/next-font-manifest.js
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/server/webpack-runtime.js
  frontend/.next/trace
Due: none

Update for 1.2.x
  .github/workflows/ci.yml
  frontend/.next/app-build-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/webpack-runtime.js
  frontend/.next/trace
  frontend/app/articles/ai-ethics-arts/page.tsx
  frontend/app/articles/ai-ethics-education/page.tsx
  frontend/app/articles/ai-ethics-global/page.tsx
  frontend/app/articles/ai-ethics-healthcare/page.tsx
  frontend/app/articles/ai-ethics-social/page.tsx
  frontend/app/compliance/gdpr-ai/page.tsx
Due: frontend-lint-fix, typescript-check

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update for 1.2.x
  frontend/.next/app-build-manifest.json
  frontend/tsconfig.tsbuildinfo
Due: none

Changes for v1.2.x
  .github/workflows/ci.yml
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/interception-route-rewrite-manifest.js
  frontend/.next/server/middleware-build-manifest.js
  frontend/.next/server/middleware-react-loadable-manifest.js
  frontend/.next/server/next-font-manifest.js
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/server/webpack-runtime.js
  frontend/.next/trace
  frontend/package.json
  frontend/tsconfig.tsbuildinfo
Due: none

Changes
  .github/workflows/ci.yml
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/trace
  frontend/tsconfig.tsbuildinfo
Due: none

Changes for v1.2.x
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/trace
  frontend/tsconfig.json
Due: none

Changes
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/trace
  frontend/next.config.js
  frontend/tsconfig.tsbuildinfo
Due: frontend-lint-fix

Changes
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/cache/.rscinfo
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/interception-route-rewrite-manifest.js
  frontend/.next/server/middleware-build-manifest.js
  frontend/.next/server/middleware-react-loadable-manifest.js
  frontend/.next/server/next-font-manifest.js
  frontend/.next/server/next-font-manifest.json
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/trace
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
Due: none

Changes
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/interception-route-rewrite-manifest.js
  frontend/.next/server/middleware-build-manifest.js
  frontend/.next/server/middleware-react-loadable-manifest.js
  frontend/.next/server/next-font-manifest.js
  frontend/.next/server/next-font-manifest.json
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/trace
  frontend/next.config.js
Due: frontend-lint-fix

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Changes
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/interception-route-rewrite-manifest.js
  frontend/.next/server/middleware-build-manifest.js
  frontend/.next/server/middleware-react-loadable-manifest.js
  frontend/.next/server/next-font-manifest.js
  frontend/.next/server/next-font-manifest.json
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/server/webpack-runtime.js
  frontend/.next/trace
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/auth/forgot-password/route.ts
  frontend/app/api/auth/reset-password/route.ts
  frontend/app/api/auth/signup/route.ts
  frontend/app/api/profile/route.ts
Due: frontend-lint-fix, typescript-check

Chnages
  .pre-commit-config.yaml
  frontend/.next/trace
  frontend/app/profile/page.tsx
  frontend/tsconfig.json
Due: frontend-lint-fix, typescript-check

Changes for v1.2.x
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  frontend/.next/trace
  frontend/next.config.js
  frontend/next.config.mjs
  frontend/prisma/schema.prisma
Due: frontend-lint-fix

Changes for v1.2.x
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  frontend/.gitignore
  frontend/.next/app-build-manifest.json
  frontend/.next/build-manifest.json
  frontend/.next/cache/.rscinfo
  frontend/.next/package.json
  frontend/.next/react-loadable-manifest.json
  frontend/.next/server/app-paths-manifest.json
  frontend/.next/server/interception-route-rewrite-manifest.js
  frontend/.next/server/middleware-build-manifest.js
  frontend/.next/server/middleware-manifest.json
  frontend/.next/server/middleware-react-loadable-manifest.js
  frontend/.next/server/next-font-manifest.js
  frontend/.next/server/next-font-manifest.json
  frontend/.next/server/pages-manifest.json
  frontend/.next/server/server-reference-manifest.js
  frontend/.next/server/server-reference-manifest.json
  frontend/.next/trace
  frontend/.next/types/cache-life.d.ts
  frontend/.next/types/package.json
  frontend/AUTHENTICATION_SETUP.md
  frontend/FORGOT_PASSWORD_SETUP.md
  frontend/RESEND_EMAIL_SETUP.md
  frontend/app/api/auth/forgot-password/route.ts
  frontend/app/api/auth/reset-password/route.ts
  frontend/app/api/auth/signup/route.ts
  frontend/app/api/profile/route.ts
  frontend/tsconfig.tsbuildinfo
  scripts/README.md
Due: frontend-lint-fix, typescript-check

Chnages
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Changes
  VERCEL_DEPLOYMENT.md
  frontend/package.json
Due: none

fixes
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/auth/forgot-password/route.ts
  frontend/app/api/auth/reset-password/route.ts
  frontend/app/api/auth/signup/route.ts
  frontend/app/api/profile/route.ts
  frontend/tsconfig.json
Due: frontend-lint-fix, typescript-check

changes
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/auth/forgot-password/route.ts
  frontend/app/api/auth/reset-password/route.ts
  frontend/app/api/auth/signup/route.ts
  frontend/app/api/profile/route.ts
  frontend/next.config.js
Due: frontend-lint-fix, typescript-check

Changes
  frontend/next.config.js
  frontend/tsconfig.json
Due: frontend-lint-fix

Chnages
  frontend/app/api/auth/forgot-password/route.ts
  frontend/app/api/auth/reset-password/route.ts
  frontend/app/api/auth/signup/route.ts
  frontend/app/api/profile/route.ts
  frontend/auth.ts
  frontend/next.config.js
  frontend/prisma.ts
Due: frontend-lint-fix, typescript-check

Changes
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/profile/route.ts
  frontend/auth.ts
  frontend/prisma.ts
Due: frontend-lint-fix, typescript-check

Changes
  frontend/auth.ts
  frontend/prisma.ts
Due: frontend-lint-fix

Changes
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/auth/forgot-password/route.ts
  frontend/app/api/auth/reset-password/route.ts
  frontend/app/api/auth/signup/route.ts
  frontend/app/api/profile/route.ts
  frontend/auth.ts
  frontend/prisma.ts
Due: frontend-lint-fix, typescript-check

Changes
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/auth/forgot-password/route.ts
  frontend/app/api/auth/reset-password/route.ts
  frontend/app/api/auth/signup/route.ts
  frontend/app/api/profile/route.ts
Due: frontend-lint-fix, typescript-check

Changes for 1.2.x
  .gitignore
  frontend/lib/auth.ts
  frontend/lib/prisma.ts
Due: frontend-lint-fix, typescript-check

Update auth.ts
  frontend/lib/auth.ts
Due: frontend-lint-fix, typescript-check

deployment fixxes
  frontend/.env.backup
  frontend/.env.local
  frontend/app/ai-awareness/page.tsx
Due: frontend-lint-fix, typescript-check

Update page.tsx
  frontend/app/ai-awareness/page.tsx
Due: frontend-lint-fix, typescript-check

session fixes
  backend/__pycache__/main.cpython-311.pyc
  backend/build_index.py
  backend/chatbot/__pycache__/chatbot_core.cpython-311.pyc
  backend/chatbot/chatbot_core.py
  backend/chatbot/session_manager.py
  backend/chroma_db/68f27542-f8c6-46f1-b067-bb2e98c48d8e/length.bin
  backend/logs/conversations.jsonl
  backend/main.py
  backend/requirements.txt
  frontend/.env.backup
  frontend/.env.local
  frontend/.gitignore
  frontend/app/ai-awareness/page.tsx
  frontend/app/api/chat-sessions/route.ts
  frontend/app/api/session-analytics/route.ts
  frontend/app/chatbot/page.tsx
  frontend/app/healing-rooms/page.tsx
  frontend/components/chat-interface.tsx
  frontend/components/footer.tsx
  frontend/components/navbar.tsx
  frontend/components/session-sidebar.tsx
  frontend/prisma/schema.prisma
Due: frontend-lint-fix, typescript-check

regular fixes
  frontend/components/cta.tsx
  frontend/components/footer.tsx
  frontend/components/hero.tsx
  frontend/components/modern-hero.tsx
Due: frontend-lint-fix, typescript-check
